<nav class="navbar bg-lime-800 py-4 px-0 relative z-[100]">
      <div class="container flex justify-between items-center">
          <div class="logo flex ml-5 w-12 h-10 text-2xl font-bold duration-300 ease-in-out hover:w-15 hover:h-13 hover:cursor-pointer" (click)="this.goHome()">
              <img src="img/white-lg-33.PNG" alt="">
          </div>
          <div class="lift flex mt-[5px] text-white text-3xl font-semibold">
              <h3>Lift Energy Group</h3>
          </div>
          <div class="nav-links flex sm:hidden lg:flex hover:cursor-pointer">
              <a class="nav-link ml-8 text-white transition-colors duration-300 ease-in-out hover:text-lime-600">Welcome</a>
              <a class="nav-link ml-8 text-white transition-colors duration-300 ease-in-out hover:text-lime-600">Services</a>
              <a class="nav-link ml-8 text-white transition-colors duration-300 ease-in-out hover:text-lime-600" (click)="this.goRoutes('/projects')">Projects</a>
              <a class="nav-link ml-8 text-white transition-colors duration-300 ease-in-out hover:text-lime-600" (click)="this.goRoutes('/aboutus')">About Us</a>
              <a class="nav-link ml-8 text-white transition-colors duration-300 ease-in-out hover:text-lime-600" (click)="this.goRoutes('/contact')">Contact</a>
          </div>
          <div class="mobile-menu-btn lg:hidden " (click)="this.showMenu()">
            <div class="transition-transform duration-300 ease-in-out hover:cursor-pointer" [ngClass]="this.menu ? 'hidden':'flex'">
              <i class="fas fa-bars" id="menu-icon"></i>
            </div>
              <div class="hover:cursor-pointer" [ngClass]="this.menu ? 'flex':'hidden'">
                <i class="fas fa-times" id="close-icon"></i>
              </div>
          </div>
      </div>
  </nav>

  <!-- Menú móvil -->
  <div class="mobile-menu  transition-all duration-1000 ease-out absolute top-16 left-0 right-0 bg-lime-800 p-4 z-[99] flex flex-col" [ngClass]="this.menu ? 'flex' : 'hidden'">
      <a href="#" class="mobile-link py-3 px-0 text-white transition-colors duration-300 ease-in-out">Inicio</a>
      <a href="#" class="mobile-link py-3 px-0 text-white transition-colors duration-300 ease-in-out">Servicios</a>
      <a href="#" class="mobile-link py-3 px-0 text-white transition-colors duration-300 ease-in-out">Productos</a>
      <a href="#" class="mobile-link py-3 px-0 text-white transition-colors duration-300 ease-in-out">Sobre Nosotros</a>
      <a href="#" class="mobile-link py-3 px-0 text-white transition-colors duration-300 ease-in-out">Contacto</a>
  </div>
